*.csv
*.npy
*.pyc
.DS_Store
datasets/*
*/trash/*
data/Airbnb/duplicates/version.json
data/Airbnb/outliers/version.json
data/Airbnb/raw/edit.py
data/Airbnb/raw/version.json
data/Airbnb/Readme.txt
data/Citation/raw/version.json
data/Company/inconsistency/version.json
data/Company/raw/version.json
data/Credit/outliers/version.json
data/Credit/raw/version.json
data/Credit/Readme.txt
data/EEG/outliers/version.json
data/EEG/raw/version.json
data/EEG/Readme.txt
data/KDD/raw/version.json
data/KDD/Readme.txt
data/Marketing/Readme.txt
data/Movie/duplicates/version.json
data/Movie/inconsistency/version.json
data/Movie/raw/clean_incon.py
data/Movie/raw/merge.py
data/Movie/raw/version.json
data/Restaurant/duplicates/version.json
data/Restaurant/inconsistency/version.json
data/Restaurant/raw/merge.py
data/Restaurant/raw/version.json
data/Sensor/raw/edit.py
data/Sensor/raw/origin.txt
data/Sensor/raw/read.py
data/Sensor/Readme.txt
data/Titanic/missing_values/version.json
data/Titanic/raw/version.json
data/Titanic/Readme.txt
data/Titanic_major/mislabel/version.json
data/Titanic_major/raw/version.json
data/Titanic_minor/mislabel/version.json
data/Titanic_minor/raw/version.json
data/University/raw/edit.py
data/University/raw/version.json
data/USCensus/Readme.txt
